<!--The content below is only a placeholder and can be replaced.-->
<div >
  <img src="assets/Genieempty.png" height="50px" alt="" style="float:left">
  <h1 style="margin:50px;">
    Your wish is my command!
  </h1>
</div>
<button (click)="onOpen()">open</button>
<p>{{fileName}}</p>
<button (click)="onLoad()">load</button>
<ul>
  <li *ngFor="let target of targets" (click)="onTargetSelected(target)">{{target}}</li>
</ul>
<button (click)="onBrowse()">browse</button>
<p>{{folderName}}</p>
<button (click)="onSave()">save</button>